header {
    h1 {
        font-size: 0;
    
        a {
            display: block;
            margin: 120px auto 140px;
            max-width: 460px;
    
            img {
                display: block;            
                height: 150px;
            }
        }
    }
}