<!-- * * Footer * * -->

<footer class="footer">
  <div class="container">    
    <div class="columns">

      <div class="column">
        <p class="logo">
          Otech
          <a href="/" title="Otech">
            <img src="../../assets/images/general/logo-otech.jpg" alt="Logo Otech">
          </a>
        </p>

        <p>
          Street addressses: 445 Mount
          Eden Road, Mount Eden,
          Auckland - Postcodes: 5022
        </p>
      </div>
      
      <div class="column">
        <h6>Sobre nós</h6>
        <ul>
          <li><a href="#" title="Perfil">Perfil</a></li>
          <li><a href="#" title="Sobre">Sobre</a></li>
          <li><a href="#" title="Contato">Contato</a></li>
        </ul>
      </div>
      
      <div class="column">
        <h6>Redes sociais</h6>
        <ul>
          <li><a href="#" title="Twitter">Twitter</a></li>
          <li><a href="#" title="Instagram">Instagram</a></li>
          <li><a href="#" title="Linkedin">Linkedin</a></li>
        </ul>
      </div>
      
      <div class="column">
        <h6>Contato</h6>
        <ul>
          <li><a href="#" title="FAC">FAC</a></li>
          <li><a href="#" title="Sitemap">Sitemap</a></li>
          <li><a href="#" title="Dúvidas">Dúvidas</a></li>
        </ul>
      </div>

      <div class="column share">
        <h6>Nossas redes</h6>
        <ul>
          <li class="instagram"><a href="#" title="Instagram">Instagram</a></li>
          <li class="linkedin"><a href="#" title="Linkedin">Linkedin</a></li>
          <li class="twitter"><a href="#" title="Twitter">Twitter</a></li>
        </ul>
      </div>
      
    </div>

    <div class="copyright">
      <p>Contact Us</p>
      <p>Copyright © 2019, Template</p>
    </div>
    
  </div>  
</footer>

<router-outlet></router-outlet>