@import '../../scss/variables';

form {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        box-sizing: border-box;
        display: block;
        border: thin solid #e0e0e0;
        height: 70px;
        margin-bottom: 34px;
        font-family: $font-sans-serif;
        font-size: 22px;
        color: #707070;
        padding: 0 30px;        

        &:focus {
            outline: #b5b5b5;
            border: thin solid #b2b2b2;
        }

        &.half {
            width: 47.5%;
        }

        &.full {
            width: 100%;
        }

        &::placeholder {
            color: #b5b5b5;
        }
    }

    select {
        color: #b5b5b5;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: url("../../assets/images/form/bg-arrow.png") no-repeat right 15px center / auto 10px;

        &::-ms-expand {
            display: none;
        }

        &:after {
            content: "";
            display: block;
            width: 1px;
            background-color: #b2b2b2;
            height: 80%;
            position: absolute;
            right: 50px;
            top: 0;
            bottom: 0;
            z-index: 1;
        }
    }

    label {
        display: block;
        font-family: $font-sans-serif;
        font-size: 22px;
        color: #707070;
        line-height: 1.4;
        position: relative;
        padding-left: 40px;
        margin: 10px 0 60px;

        &.input-label {
            cursor: pointer;

            &:before {
                content: "";
                display: inline-block;
                box-sizing: border-box;
                width: 20px;
                height: 20px;
                margin-right: 20px;
                border: 2px solid #707070;
                position: absolute;
                left: 0;
                top: 4px;
            }

            &:after {
                display: none;
                content: "";
                box-sizing: border-box;
                width: 18px;
                height: 16px;                
                position: absolute;
                left: 1px;
                top: 6px;
                background: url("../../assets/images/form/bg-checked.svg") no-repeat center center / contain;
                z-index: 1;
            }

            input[type="checkbox"],
            input[type="radio"] {
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
                height: 0;
                width: 0;
                position: absolute;
                left: 0;
            }

            &.active {
                &:after {
                    display: block;
                }
            }
        }
    }

    .submit {
        display: block;
        float: right;
        width: 330px;
        height: 90px;
        margin-top: 20px;
        background-color: #1056ab;
        font-family: $font-sans-serif;
        font-size: 22px;
        color: #fff;
        text-transform: uppercase;
        transition: opacity .3s;
        cursor: pointer;

        &:hover {
            opacity: .9;
        }

        &:focus {
            outline: none;
        }

        &:disabled {
            cursor: default;
            opacity: 0.6;
            background: #999;
        }
    }
}

h2 {
	font-family: $font-sans-serif;
	font-weight: 900;
	font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

h3 {
    font-family: $font-sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 50px 0 40px;

    &.title-bar {
        display: flex;
        align-items: center;
        height: 90px;
        background-color: #f1f1f1;
        padding-left: 30px;
        margin-top: 0;
        position: relative;
        z-index: 2;
        
        &.first {
            &:after {
                content: "";
                display: block;
                width: 180px;
                height: 90px;
                background-color: #f1f1f1;
                position: absolute;
                right: -170px;
                z-index: 0;
            }
        }
    }
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-wrap {
    width: 54%;
    position: relative;

    &:after {
        content: "";
        display: block;
        width: 1px;
        background-color: #b2b2b2;
        height: 80%;
        position: absolute;
        right: -9%;
        top: 0;
        z-index: 1;
    }
}

.ticket-wrap {
    width: 35%;
}

.personal-data {
    margin-top: 50px;    
}

// .personal-data-companion,
// .companion-title {
//     display: none;
    
//     &.active {
//         display: flex;
//     }
// }

.ticket-card {
    margin-left: 30px;
}

.movie-wrap {
    display: flex;
    
    .info {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        p,
        span,
        strong {
            font-family: $font-sans-serif;
            font-size: 20px;
            padding-right: 30px;
            color: #262626;
            margin: 0 0 2px;
            line-height: 1.6;
        }

        p {
            text-transform: uppercase;

            strong {
                text-transform: none;
            }

            &:last-child {
                margin-top: 15px;
                
                strong {
                    color: #1056ab;
                }
            }
        }
    }
}

.total-price-wrap {
    margin-top: 30px;
    padding-top: 30px;
    border-top: thin solid #b2b2b2;

    ul {
        li {
            display: flex;
            justify-content: space-between;

            strong
            ,span {
                font-family: $font-sans-serif;
                font-size: 22px;
                color: #262626;
                margin-bottom: 12px;
            }

            span {
                color: #b5b5b5;
            }

            &.total {
                margin-top: 32px;

                strong,
                span {
                    font-weight: bold;
                    font-size: 24px;
                    text-transform: uppercase;
                }

                span {
                    color: #1056ab;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    form {
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
            height: 50px;
            margin-bottom: 30px;
            font-family: $font-sans-serif;
            font-size: 18px;
            padding: 0 20px;
    
            &.half,
            &.full {
                width: 100%;
            }
        }
    
        label {
            font-size: 18px;            
            padding-left: 30px;
            margin: 10px 0 40px;
    
            &.input-label {
                &:before {
                    top: 1px;
                }
                
                &:after {
                    top: 3px;
                }
            }
        }
    
        .submit {
            float: none;
            width: 280px;
            height: 60px;
            margin: 0px auto 40px;            
            font-size: 18px;            
        }
    }
    
    h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    h3 {
        font-size: 20px;        
        margin: 30px 0 20px;
    
        &.title-bar {
            height: 60px;            
            padding-left: 20px;
            margin-left: -20px;       
            margin-right: -20px;       
            
            &.first {
                &:after {
                    display: none;
                }
            }
        }
    }
    
    .columns {
        flex-direction: column;
    }
    
    .data-wrap {
        width: 100%;
    
        &:after {
            display: none;
        }
    }
    
    .ticket-wrap {
        width: 100%;
    }
    
    .personal-data {
        margin-top: 0;
    }

    .ticket-card {
        margin-left: 0;
    }
    
    .movie-wrap {
        .info {
            margin-left: 20px;            
            
            p,
            span,
            strong {
                font-size: 18px;
                padding-right: 10px;                
            }            
        }
    }
    
    .total-price-wrap {
        ul {
            li {
                strong
                ,span {
                    font-size: 20px;                    
                }
    
                &.total {
                    strong,
                    span {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}